<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form method="post" >
        <label>
            Enter Username
            <input type="text" name="username" th:value="${username}" >
        </label>
        <label>
            Enter Email
            <input type="email"  name="email" th:value="${email}" >
        </label>
        <label>
            Enter Password
            <input type="password" name="password"  >
        </label>
        <label>
            Enter Password Again
            <input type="password" name="verify"  >
        </label>

            <input type="submit" value="submit">
        <p class="error" th:if="${error}" th:text="${error}"></p>
    </form>

</body>
</html>